#home {
	#site-intro {
		background-image: url("~/images/duotone.png");
		height: 100vh;
		overflow: hidden;
		@media (min-width: $breakpoint-small) {
			height: 80vh;
		}
		@media (min-width: $breakpoint-medium) {
			height: 600px;
		}

		#flare {
			background-image: url("~/images/flare.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: -30px;
			left: 0;
			width: 200%;
			height: calc(100vh + 50px);
			transform-origin: 22% 53%;
			opacity: 0.8;
			@media (min-width: $breakpoint-small) {
				height: calc(80vh + 50px);
			}
			@media (min-width: $breakpoint-medium) {
				width: 130%;
				height: 700px;
				top: -20px;
			}
			@media (min-width: $breakpoint-large) {
				width: 200%;
				top: 0;
			}
		}

		#site-intro-caption {
			z-index: 10;

			h2,
			p {
				color: $white;
			}
		}
	}

	#home-intro {
		min-height: 600px;
		margin-top: 0;
		@media (min-width: $breakpoint-small) {}
		@media (min-width: $breakpoint-medium) {
			height: 90vh;
		}

		#featured-article {
			background-color: rgba($black, 0.35);
			@media (min-width: $breakpoint-small) {}
			@media (min-width: $breakpoint-medium) {}

			#featured-caption {
				padding: 50px;

				h3 {
					font-size: 64px;
					line-height: 64px;
				}

				.uk-button {
					color: $white;
				}
			}
		}

		#featured-items {
			padding: 20px;
			align-content: flex-end;

			.featured-item-col {
				overflow: hidden;
				height: calc((90vh / 3) - 40px);
			}

			.featured-item {
				height: 100%;
			}

			.featured-item-link {
				background: $black;
				bottom: -100%;
				width: calc(100% - 15px);
				height: 100%;
				color: $pink;
				transition: 0.2s all $curve;
				flex-direction: column;

				h4 {
					color: $white;
					margin-bottom: 0;
				}

				h5 {
					color: $pink;
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			.featured-item-col:hover {}

			.featured-item-col:hover .featured-item {
				background-image: none;
			}

			.featured-item-col:hover .featured-item-link {
				bottom: 0;
			}
		}
	}

	#featured-ingredients {
		margin-top: 0;
		padding: 70px 0px;

		.bg-title {
			position: absolute;
			left: -10px;
			top: 10px;
			opacity: 0.1;
			font-size: 126px;
			line-height: 90px;
			@media (min-width: $breakpoint-small) {}
			@media (min-width: $breakpoint-medium) {
				font-size: 228px;
				line-height: 160px;
				top: 15px;
			}
			@media (min-width: $breakpoint-large) {}
		}
		p#intro {
			font-size: 18px;
			margin-bottom: 30px;
			.uk-icon {
				padding: 3px;
			}
		}
		.uk-slidenav-large {
			background: rgba($black, 0.2) !important;
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 50%;
			svg {
				fill: $white;
				polyline {
					stroke: $white;
				}
			}
		}
		.featured-ingredient-slide {
			padding-top: 20px;
			padding-bottom: 20px;
		.featured-ingredient {
					position: relative;
					max-width: 300px;
					border: thin solid rgba($black, 0.05);
					border-radius: 3px;
					.ingredient-card-info-bar {
						p {
							font-size: 10px;
							opacity: 0.9;
						}
					}
					.uk-card-media-top {
						img {
							width: 300px;
							height: 300px;
							background: rgba($black, 0.05);
						}
					}
					h3.uk-card-title {
						margin-top: 10px;
						margin-bottom: 0;
						line-height: 1em;
					}
					p.time-published {
						margin-top: 0px;
						margin-bottom: 0px;
						font-size: 10px;
						opacity: 0.9;
					}
					h5 {
						margin-top: 8px;
						margin-bottom: 0px;
						display: inline-block;
						margin-right: 10px;
						.label {
							opacity: 0.7;
							color: $black;
						}
					}
					h5:last-of-type {
						margin-right: 0px;
						margin-top: 0px;
						margin-bottom: 0px;
					}
					.uk-card-media-top {
						img {
							// width: 200px;
							// height: auto;
							border-bottom: thin solid rgba($black, 0.4);
						}
					}

					.uk-card-body {
						padding: 15px !important;


					}

			}
		}
	}

	#featured-products {
		box-shadow: inset 0 -1px 25px rgba($black, 0.5);
		background: $blue-gradient;
		padding: 70px 40px;
		margin-top: 0;

		.bg-title {
			position: absolute;
			left: -8px;
			top: 50%;
			margin-top: -45px;
			opacity: 0.1;
			font-size: 92px;
			line-height: 90px;
			font-family: $body-font;
			@media (min-width: $breakpoint-small) {
				margin-top: -45px;
				font-size: 142px;
				line-height: 90px;
			}
			@media (min-width: $breakpoint-medium) {
				left: -15px;
				margin-top: -65px;
				font-size: 188px;
				line-height: 132px;
			}
		}
	}

	#featured-recipes {
		margin-top: 0;

		.bg-title {
			position: absolute;
			left: 0;
			top: 40%;
			opacity: 0.1;
			font-size: 122px;
			line-height: 90px;
			@media (min-width: $breakpoint-small) {}
			@media (min-width: $breakpoint-medium) {
				font-size: 188px;
				line-height: 132px;
			}
		}
		.uk-slidenav-large {
			background: rgba($black, 0.2) !important;
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 50%;

			svg {
				fill: $white;
				polyline {
					stroke: $white;
				}
			}
		}
		.featured-recipe-slide {
		}
		.featured-recipe {
			background-color: rgba($black, 0.75);
			min-height: calc(100vh - 54px);
			@media (min-width: $breakpoint-small) {
				height: 500px;
				min-height: 500px;
			}
			@media (min-width: $breakpoint-medium) {
				height: 500px;
			}
		.label {
			opacity: 0.6;
		}

		.list-recipe-buttons {
			position: absolute;
			bottom: 0;
			left: 0px;
			z-index: 10;
			border-radius: 0;
			background: $green;
			a {
				border: none;
				color: $black;
			}
			.favorite-btn {
				border-radius: 0;
				background: $green;
				color: $black;
				svg {
					color: $black;
					width: 24px;
					height: 24px;

					path {
						// fill: $black;
					}
				}
			}
			.remove-btn {
				background: $pink;
				color: $white;
				svg {
					color: $white;

					path {
						fill: $white;
					}
				}
			}
		}


	}
	}

	#featured-quote {
		height: 400px;
		margin-top: 0;
		padding: 50px 0;
		background-image: url("~/images/duotone-ingredients.png");
		box-shadow: inset 0 -1px 25px rgba($black, 0.5);
		color: $pink;
		font-size: 72px;
		line-height: 66px;
	}

	#instafeed {
		img {
			width: 100%;
			height: auto;
		}
	}

	.goto-page-link {
		color: $blue;

		p {
			margin-bottom: 0;
			font-size: 32px;
			line-height: 28px;
		}

		.uk-icon {
			svg {
				width: 80px;
				height: 80px;

				polyline {
					stroke-width: 0.5 !important;
				}
			}
		}
	}
}
