#ingredients {
	// recipe-landing styles
	.page-cover {
		height: 350px;
		position: relative;
		@media (min-width: $breakpoint-small) {}
		@media (min-width: $breakpoint-medium) {
			height: 400px;
		}
		@media (min-width: $breakpoint-large) {
			height: 500px;
		}

		h1 {
			.uk-badge {
				vertical-align: text-top;
				background: $pink;
				color: $white;
			}
		}
	}
	#listings {
		min-height: 100vh;
		margin-top: 0;
		padding-top: 0;
	}
	#filters {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		transition: all 0.25s ease-out;

		form {
			align-content: center;
		background: $white;
		border-bottom: thin solid rgba($black, 0.2);
		padding: 10px;
		@media (min-width: $breakpoint-small) {
			padding: 20px;
		}
		@media (min-width: $breakpoint-medium) {

		}
		.uk-grid {
			margin-left: 0;
		}
		h5 {
			font-size: 16px;
			margin-right: 0px;
			margin-bottom: 0;
			vertical-align: bottom;
			@media (min-width: $breakpoint-small) {
				font-size: 22px;
				margin-right: 10px;
			}
			@media (min-width: $breakpoint-medium) {

			}
		}
			input {
				height: 40px;
				border-bottom: thin solid rgba($black, 0.6);
			}
			select {
				border: none;
				height: 40px;
				border-bottom: thin solid rgba($black, 0.6);
			}
			button {
				height: 40px;
			}
		}
	}
}
// recipe-item styles
.ingredient-item {
	.recipe-top {
		height: 150px;
		background-size: cover;
		background-position: center;
		.uk-marker {
			background: $white;
			color: $black;
			right: -10px;
			top: 35px;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}

	.uk-card-title {
		margin-bottom: 0;
	}

	h2 {}

	h4 {
		margin-top: 0;

		.label {
			opacity: 0.6;
		}
	}

	h5 {
		display: inline;
		margin: 5px;
		font-size: 16px;
		line-height: 16px;
		border: thin solid $black;
		padding: 5px 5px 3px;
	}

	h5:first-of-type {
		margin-left: 0;
	}

	p.timing {
		margin: 0;

		span {}
	}

	.uk-card-footer {
		.uk-button {
			// border: thin solid $pink;
			// color: $pink;
			// font-size: 32px;
		}
	}
}
// ingredient-details styles
#ingredient {

	a.details-page-back-link {
		line-height: 17px;
		font-size: 17px;
		width: 45%;
		display: inline-block;
		text-align: right;
		margin-right: 5%;
		@media (min-width: $breakpoint-small) {

		}
		@media (min-width: $breakpoint-medium) {
			position: absolute;
			top: 50%;
			left:calc(50% + 20px);
			width: 200px;
			margin-left: -390px;
			text-align: right;
			margin-right: 0;
		}

			svg {

				margin-top: -4px;
			}


	}
	a.details-page-next-link {
		line-height: 17px;
		font-size: 17px;
		width: 45%;
			display: inline-block;
			text-align: left;
			margin-left: 5%;
		@media (min-width: $breakpoint-small) {

		}
		@media (min-width: $breakpoint-medium) {
			position: absolute;
			top: 50%;
			left:calc(50% + 20px);
			width: 200px;
			margin-left: 190px;
			text-align: left;
		}


			svg {

				margin-top: -4px;
			}
	}
	.top-section {
		width: 100%;
		text-align:center;
		margin-top: 30px;
		@media (min-width: $breakpoint-small) {

		}
		@media (min-width: $breakpoint-medium) {
			margin-top: 80px;

		}
		img {
			width: 100%;
			max-width: 300px;
			height: auto;
			border: thin solid rgba($black, 0.2);
			border-radius: 2px;
			box-shadow: 0px 2px 15px rgba($black, 0.2);
			margin-top: 30px;
			@media (min-width: $breakpoint-small) {
				width: 300px;
			}
			@media (min-width: $breakpoint-medium) {

			}
		}
	}
	.heading {
		h1 {
			margin-top: 10px;
			margin-bottom: 10px;
			line-height: 0.9em;
		}
		h4 {
			margin-top: 0;
			display: inline-block;
			font-size: 16px;
			padding: 0 7px;
			margin-bottom: 0;
			span {
				color: $blue;

			}
		}
		p {
			padding: 0
		}
	}

	.ingredient-details {
		margin-top: 0;
		max-width: 800px;
	}
	.goes-with {
		background: $blue-gradient-2;
		padding-top: 40px;
		padding-bottom: 40px;
		box-shadow: inset 0px -1px 15px rgba($black, 0.5);
		h4 {
			font-size: 26px;
			margin-bottom: 0;
			width: 100%;
			display: block;
		}
		h5.goes-with-tag {
			border: thin solid $white;
			color: $white;
			padding: 10px 15px;
			border-radius: 2px;
			margin: 5px;
			display: inline-flex;
			width: auto;
		}
	}
	.related-recipes {
		padding-top: 40px;
		padding-bottom: 40px;
		h4 {
			font-size: 26px;
			margin-bottom: 0;
		}
	}
}
