nav {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 380px;
 height: 100vh;
  min-height: 600px;
 background: $pink;
  transform: translateX(-390px);
  overflow-y: auto;
  transition: all 0.35s $curve;
  z-index: 10;
  border-right: thin solid $green;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 1%;
  padding-right: 1%;
  svg {
    width: 110%;
    height: auto;
    fill: rgba($black, 0.2);
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: none;
    z-index: -1;
    .cls-1 {
      fill: rgba($black, 0.2);
    }
  }
  a:link, a:visited {
    color: $white;
    text-transform: lowercase;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    display: inline-flex;
    z-index: 5;
    position: relative;
  }
  a:hover::before {
    left: 1px;
    opacity: 1;
    width: 100%;
  }
  a::before {
    content: '';
    position: absolute;
    width: 16px;
    background: $green;
    height: 1px;
    bottom: 2px;
    left:1px;
    transition: all 0.35s ease-out;
  }
   a.nuxt-link-exact-active, a.nuxt-link-active {
    color: $black;
  }
  #user-links {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    margin-top: 20px;
    #auth-links {
      display: flex;
      align-items:center;
      justify-content: center;
      align-content: center;
      flex-direction:column;
      width: 100%;
      p {
        text-transform: uppercase;
        font-family: $condensed-font;
        color: $green;
        span {
          font-family: $condensed-bold-font;
        }
      }
      #user-image {
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
      }
    }
    a {
      width: 200px;
      color: $green;
      border: thin solid $green;
      font-family: $condensed-bold-font;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      align-items:center;
    justify-content: center;
    align-content: center;
      display: flex;
      padding-top: 7px;
      padding-bottom: 5px;
      vertical-align: top;
      .badge {
        font-family: $body-font;
        font-weight: 900;
        background: $blue;
        color: $black;
        line-height: 16px;
        width: 16px;
        margin-top: -15px;
        margin-left: 3px;
      }

    }
    a:hover::before {
      opacity: 0;
      width: 0px;
    }
    a::before {
      content: '';
      position: absolute;
      width: 0px;
      background: none;
      height: 0px;
      bottom: 0px;
      left:0px;
      opacity: 0;
    }
  }
}

nav.in-left {
  transform: translateX(0px);
}



#logo {
  position:fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
  font-family: $body-font;
  text-transform: uppercase;
  color: $pink;
  font-size: 82px;
  margin-bottom: 0px;
  line-height: 80px;
  transition: all .5s ease-out;
  width: 100px;
  font-weight:100;
  @media (min-width: $large) {
    font-size: 156px;
    line-height: 120px;
  }
}

#logo.inside {
  margin-left: 40px;
  @media (min-width: $large) {
    margin-left: 50px;

  }
}

#account-icon {
  position: fixed;
  left: 3%;
  top: 0px;
  height: 75px;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 6;
  transition: all 0.3s $curve;
  display: none;
  @media (min-width: $large) {
    height: 110px;
    left: 200px;
    top: 0px;
    transition: all 0.3s $bounce;
  }
img {
   width: 50px;
   height: 50px;
  border-radius: 50%;
   margin-top: 7px;
   filter: drop-shadow(0px 2px 3px rgba($black, 0.3));
   transition: all 0.3s $bounce 0.08s;
   @media (min-width: $medium) {
      width: 60px;
      height: 60px;
    }
  }
  i {
    border-radius: 50%;
    background: $pink;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    color: $white;
  }
}

 #back-btn {
    position: absolute;
    left: 1%;
    top:0px;
    z-index: 10;


    @media (min-width: $medium) {
      left: 1%;
    }
    @media (min-width: $large) {
      left: 1%;
    }
    div {
      display: block;
      position:relative;
       height: 60px;
      width: 30px;
      cursor: pointer;
  @media (min-width: $large) {
    height: 70px;
  }
    }
    span {
          position: absolute;
          width: 26px;
          height: 1px;
          background: $white;
      left: 0px;
          @media (min-width: $medium) {
            width:26px;
          }
      @media (min-width: $large) {
            width:28px;
          }
        }
        span:nth-of-type(1) {
          top: 19px;
          transform: rotate(-55deg);
          @media (min-width: $medium) {
            top: 19px;
          }
          @media (min-width: $large) {
            top: 24px;

          }
        }
        span:nth-of-type(2) {
          bottom: 19px;
          transform: rotate(55deg);
          @media (min-width: $medium) {
            bottom: 19px;
          }
          @media (min-width: $large) {
            bottom: 23px;
          }
        }
  }


#nav-btn {
	bottom: 0px;
	right: 0px;
	z-index: 90;
	display: none;
	position: fixed;
	background: $black;
	width: 110px;
	text-align: center;
	cursor: pointer;
	border-top: thin solid #1e1e1e;
  transition: .35s $curve;

	@media (min-width: $large) {
		top: 10px;
    right: 10px;
		bottom: auto;
		width: auto;
		border-top: none;
    display: block;
	}
  #nav-icon {
    width: 50px;
    height: 30px;
    position: relative;
    margin: 10px auto 10px auto;
    transform: rotate(0deg);

    cursor: pointer;
    @media (min-width: $large) {
      margin: 20px 15px;
    }
    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: $white;
      border-radius: 1px;
      opacity: 1;
      left: 0;

      transform: rotate(0deg);

      transition: .25s ease-in-out;
    }
    span:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    span:nth-child(2) {
      top: 14px;
      transform-origin: left center;
    }
    span:nth-child(3) {
      top: 29px;
      transform-origin: left center;
    }
  }
}
#nav-btn.open {
  background: $black;
  #nav-icon {
    span {
      background: $green;
    }
    span:nth-child(1) {
      transform: rotate(45deg);
      top: -2px;
      left: 8px;
    }
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 33px;
      left: 8px;
    }
  }
}
.page-container {
  transform: translateX(0px);
  transition: all 0.35s $curve;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.page-container.open {
  transform: translateX(180px);
  filter: grayscale(0.9)
}
header.open, #account-icons.open  {

}
