#list-screen {
position: fixed;
width: 100%;
height: 100%;
background-color:rgba(black, 0.4);
z-index: 100;
  transition: all 0.2s $curve;
  top: 0%;
  left: 0px;
  opacity: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $condensed-font;
  text-transform: uppercase;
  transform: translateY(0%);
  background-image: url(https://huestudios.com/sites/camila.life/content/storage/uploads/camile-bike.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode:saturation;
  overflow:hidden;
  svg#love-icon {
    position: absolute;
    right: -10%;
    top: -20px;
    width: auto;
    height: 120%;
    .cls-1{ fill:rgba($black, 0.7);}
     @media (min-width: $large) {
       right: -10%;
    top: -50px;
    width: auto;
    height: 120%;
   
  }
  }
#list-box {
  width: 96%;
  position: relative;
  color: $white;
  max-width: 400px;
  text-align: center;
  @media (min-width: $large) {
   
  }
  form {
    .list-form-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }
    .label-container {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-bottom: 10px;
    }
    label {
      color: $white;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-self:flex-end;
      padding-right: 7px;
    }
    
    input, input:-webkit-autofill {
      background-color: none !important;
      background: none;
      border: none;
      border-bottom: thin solid $white;
      color: $white;
      padding-bottom: 1px;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;  
      position:relative;
    }
    input:focus {
      outline: none;
      box-shadow: none;
      border-bottom: thin solid $pink;
    }
    input.alert {
      border-bottom: thin solid $blue;
    }
    input.alert::after {
      font-family: 'FontAwesome';
      position: absolute;
      top: 0px;
      right: -5px;
      content: "\f06a";
      opacity: 0.5;
    }
  }
  p {
    font-family: $bold-font;
    text-transform: lowercase;
  }
  

}
  button {font-family: $condensed-bold-font; font-size: 1.2em;
    border: thin solid $pink;
    border-radius: 2px;
    padding: 17px 25px 14px;
    color: $white;
    margin-top: 15px;
  }

#close-btn {
  position: absolute;
  z-index: 9999999;
  top: -20px;
right: -5px;
  background: rgba($dark-pink, 1);
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba($black,0.5);
  transition: all 0.25s $bounce;
  @media (min-width: $medium) {
    top: -20px;
    right: -20px;
  }
  @media (min-width: $large) {
    
  }
  #close-box {
    position: relative;
      width: 40px;
  height: 40px;

  span {
    display: block;
      position: absolute;
      height: 1px;
      width: 30px;
      background: $green;
      border-radius: 1px;
      opacity: 1;
      left: 10px;
  }
 span:nth-child(1) {
   top: 8px;
      transform: rotate(45deg);
   transform-origin: left center;
  }
  span:nth-child(2) {
    top: 30px;
      transform: rotate(-45deg);
    transform-origin: left center;
  }
      }
}
}
#list-screen.close {
  opacity: 0;
  top: -100%
}
#close-btn:hover {
  transform: rotateX(180deg);
}



.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $pink;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: inline-block;
  stroke-width: 2;
  stroke: $black;
  stroke-miterlimit: 10;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $pink;
  }
}


