.mobile-app-icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $pink;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: rgba($white, 0.9);
  font-family: $condensed-bold-font;
  border-right: thin solid rgba($white,0.3);
  border-top: thin solid rgba($black, 0.2);
  box-shadow: 0px 2px 12px rgba($black, 0.3);
  z-index: 5;
  @media (min-width: 1025px) {
    display: none;
  }
  #toolbar-spacer {
    width:26%;
  }
  a, button {
    font-size: 18px;
    line-height: 18px;
    height: 50px;
    width: 25%;
    cursor: pointer;
    color: rgba($white, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.25s ease-out;
    border-right: thin solid rgba($black,0.2);
  }
  a.nuxt-link-exact-active, a.nuxt-link-active {
    color: rgba($black,0.8);
    background: $dark-pink;
    box-shadow: inset 0px -2px 12px rgba($black, 0.4);
    border-left:solid thin $pink;
    border-right: solid thin $pink;
  }
  #bar-list-button {
   position: absolute;
   left: 50%;
   margin-left: -13%;
   z-index: 10;
   width:26%;
   height: 65px;
   background: $pink;
   border: solid thin rgba($black, 0.2);
   border-radius: 2px 2px 0px 0px;
   box-shadow: 0px 0px 8px rgba($black, 0.4);
   h5 {
   
   }
   .badge {
     background:$green;
     color: $black;
     position:absolute;
     top: 50%;
     left: 50%;
     margin-top:-10px;
     margin-left: -10px;
     width: 20px;
     height: 20px;
     line-height: 20px;
     vertical-align: middle;
     text-align: center;
     font-size: 13px;
     padding: 0;
     min-width: auto;
     display: block;
     box-shadow: 0px 1px 12px rgba($black, 0.3);
   }
    #svg-container {
    position:relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
    vertical-align: middle;
    display: inline-block;
    svg {
      filter: drop-shadow(0px 1px 2px rgba($black, 0.4));
      width: 33px;
      height: auto;
      margin-top: 2px;
      
      .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#88c057;}.cls-4{fill:#466825;}.cls-5{fill:#659c35;}.cls-6{fill:#436b1c;}.cls-7{fill:#567a34;}.cls-8{fill:#42bec1;}.cls-9{fill:#5fd6d6;}.cls-10{fill:#c92b00;}.cls-11{fill:#a01c02;}.cls-12{fill:#5ea304;}.cls-13{fill:#388c02;}.cls-14{fill:#036d2e;}.cls-15{clip-path:url(#clip-path-2);}.cls-16{fill:#eabc49;}.cls-17{fill:#ffdc6c;}.cls-18{fill:#fcf7c5;}.cls-19{fill:#562300;}.cls-20{fill:#281000;}.cls-21{fill:#8c4719;}.cls-22{fill:#ce921b;}.cls-23{fill:#3cbc0c;}.cls-24{fill:#2b9907;}.cls-25{fill:#017c1b;}.cls-26{fill:#006b12;}.cls-27{fill:#ffe000;}.cls-28{fill:#ffc200;}.cls-29{fill:#e09b77;}.cls-30{clip-path:url(#clip-path-3);}.cls-31{fill:#583e68;}.cls-32{fill:#6a3311;}.cls-33{fill:#6f58a8;}.cls-34{clip-path:url(#clip-path-4);}.cls-35{fill:#d13834;}.cls-36{fill:#f75b57;}.cls-37{fill:#e8b18b;}
    }
  }
  }
  a#bar-list-button.nuxt-link-exact-active {
   background: $dark-pink;
    
  }
}