/* Scss Document */

$green: #00FF1B;
$pink: #FB00DA;
$dark-pink: #ba00a1;
$blue: #00bfff;
$black: #1a1a1a;
$white: #ffffff;
$small: 640px;
$medium: 1060px;
$large: 1200px;
$xlarge: 1600px;
$bounce: cubic-bezier(0.205, 0.470, 0.360, 1.385);
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
$pink-gradient: linear-gradient(135deg, #c900ae 0%,#ed00d1 41%,#fb00da 56%,#ce00a5 99%);
$pink-gradient-2: linear-gradient(135deg, #fb00da 20%,#ce00a5 99%);
$pink-gradient-vertical: linear-gradient(to bottom, #fb00da 0%,#ba00a1 100%);

$blue-gradient: radial-gradient(circle, rgba(103,54,221,1) 0%, rgba(0,191,255,1) 100%);
$blue-gradient-2: linear-gradient(90deg, rgba(50,76,237,1) 0%, rgba(0,191,255,1) 83%);

$serif-font: "Bauer Bodoni Pro_1 W01 Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
$condensed-font:"DINNextW01-CondensedLig", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
$light-font: 'AvenirNextLTW01-UltraLi', "Helvetica Neue", Helvetica, Arial, "sans-serif";

$condensed-bold-font: "DINNextW01-CondensedMed", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";

$body-font: "Avenir Next W01 Thin", "Helvetica Neue", Helvetica, Arial, "sans-serif";

$bold-font: "AvenirNextLTW01-Regular", "Helvetica Neue", Helvetica, Arial, "sans-serif";


$script-font: "ITCZemkeHandW01-Regular","Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";


.iziToast {
  font-family: $condensed-bold-font !important
}
.body-font {
  font-family: $body-font;
}
.bold-font, .bold, strong {
  font-family: $bold-font;
}

.serif-font {
  font-family: $serif-font;
}
.script-font {
  font-family: $script-font;
}
.condensed {
  font-family: $condensed-font;
}
.condensed-bold {
  font-family: $condensed-bold-font;
}

a, a:link, a:visited {
  transition: all 0.25s $curve;
}
a:hover {
  color: $pink;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}
.white {
    color: $white;
}
.pink, .Radical {
    color: $pink;
}
.dark-pink {
  color: $dark-pink;
}

.blue {
    color: $blue;
}
.green, .Easy {
    color: $green;
}
.red {
  color:#DC0003;
}
.black-bg {
  background: $black;
}
.green-bg {
  background: $green;
}
.pink-border {
  border-color: $pink !important;
}
.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pulseEffect {
  animation: pulse 0.3s $bounce 2;
}
.bounceEffect {
  animation: bounce 0.3s ease-out 2;
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }

  70% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes bounce {
  0% {
    transform: scale(1)
  }

  60% {
    transform: scale(1.5)
  }
  80% {
    transform: scale(1.2)
  }
  90% {
    transform: scale(1.4)
  }
  100% {
    transform: scale(1)
  }
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $pink;
  fill:$pink;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: inline-block;
  stroke-width: 2;
  stroke: $black;
  stroke-miterlimit: 10;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

ul.checkmark-list {
  list-style-type: none;
}

ul.checkmark-list li:before {
  content: "\2713\0020";
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;

  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $pink;
  }
}

.uk-light, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color), .uk-card-primary.uk-card-body, .uk-card-primary > :not([class*='uk-card-media']), .uk-card-secondary.uk-card-body, .uk-card-secondary > :not([class*='uk-card-media']), .uk-overlay-primary, .uk-offcanvas-bar {
  color: $white;
}
