/* Scss Document */
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/uikit-theme.scss";
@import 'vars';
@import 'nav';
@import 'layout';
@import 'toolbar';
@import 'home';
@import 'article';
@import 'recipe';
@import 'ingredient';
@import 'ingredientRecipes';
@import 'iconLabels';
@import 'listButtons';
@import 'list';

body {
	background: $white;
  font-family: $bold-font;
  padding-bottom: 50px;
	color: $black;
  @media (min-width: $large) {
    padding-bottom: 0;
  }
}

h1, h2, h3, h4, h5 {
    font-family: $condensed-font;
    text-transform: uppercase;
}

.uk-card {
	transition: all 0.3s ease-out;
}

.uk-button {
	font-family: $condensed-font;
}

.uk-modal {
	z-index: 1050;
}
.uk-modal.uk-padding-remove .uk-modal-body {
	padding: 0;
	background: rgba($black, 0.95) !important;
}

.uk-modal.full-image {
	background: rgba($black, 0.95);
	img {
		padding: 0px
	}
	.uk-close {
		background: $black;
		padding: 20px;
		color: $white;
		border-radius: 50%;
	}
}

a, .link {
	color: $black;
	text-decoration: none;
}

a:hover, .link:hover {
	text-decoration: none;
}
