/* Scss Document */
@import 'foundation';
@import 'vars';

body {
	background: $white;
  font-family: $body-font;
  padding-bottom: 50px;
  padding-top: 60px;
background: $dark-pink;
  @media (min-width: $large) {
    padding-bottom: 0;
    padding-top: 70px;
  }
}

h1, h2, h3, h4, h5 {
    font-family: $condensed-font;
    text-transform: uppercase;
}


.page-enter-active, .page-leave-active, .left-enter-active, .left-leave-active, .top-enter-active, .top-leave-active {
  transition: all .3s $curve
}
.page-enter {
  opacity: 0;
  transform-origin: center;
  transform: rotateX(10deg) translateY(500px);
}

.page-leave-active {
   opacity: 0;
 transform-origin: center;
  transform: rotateX(-10deg) translateY(500px);
}

.left-enter {
  opacity: 0;
  transform-origin: center;
  transform: rotateY(10deg) translateX(-500px);
}

.left-leave-active {
   opacity: 0;
 transform-origin: center;
  transform: rotateY(-10deg) translateX(-500px);
}

.top-enter {
  opacity: 0;
  transform-origin: center;
  transform: rotateX(10deg) translateY(-500px);
}

.top-leave-active {
   opacity: 0;
 transform-origin: center;
   transform: rotateX(10deg) translateY(-500px);
}

.nuxt-link-exact-active {
    color: $green;
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
  transition-duration: 3s;

}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
    transition-duration: 3s;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@import 'tabs/default';
@import 'layout';
@import 'toolbar';
@import 'list';
@import 'listInline';
@import 'login';
@import 'footer';
@import 'product';
@import 'productDetails';
@import 'relatedProducts';
@import 'recipe';
@import 'recipeDetails';
@import 'ingredient';
@import 'ingredientDetails';
@import 'articleDetails';
@import 'home';
